[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
app-store-scraper = "*"
boto3 = "*"
google-play-scraper = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
